body {
  background-color: hsl(0, 0%, 8%);
}

@media screen and (max-width:1440px) {
  
}
@media screen and (max-width:375px) {
  
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 10px;
}

.all-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  width: 30%;
  height: 620px;
  background-color: hsl(0, 0%, 12%);
}

.name {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 700;
}

.address {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.imformation {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 14px;
}

.github {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.github:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  
}

.job {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.job:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.linkedin {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.linkedin:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.twitter {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.twitter:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  cu
}

.instagram {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.instagram:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.attribution {
  color: hsl(0, 0%, 100%);
}













