body {
  background-color: hsl(0, 0%, 8%);
}


.image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.all-data {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 800;
}

.address {
  color: hsl(75, 94%, 57%);
  font-weight: 800;
}

.imformation {
  color: hsl(0, 0%, 100%);
}

.github {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.github:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
  
}

.job {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.job:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.linkedin {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.linkedin:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.twitter {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.twitter:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.instagram {
  color: hsl(0, 0%, 100%);
  background-color: rgba(82, 81, 81, 0.769);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  border-radius: 10px;
}
.instagram:hover{
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

.attribution {
  color: hsl(0, 0%, 100%);
}













